<div class="back-second"></div>
<div class="background"></div>
<div class="back-third"></div>

<div class="center home-text padding-vertical-large">

  <div class="wrapper container">
    <div class="home-title">
      The Zen Woods
    </div>
    <div class="padding-top-mini">
      Stress-free productivity.
    </div>
    <div class="home-column-mini padding-top-large">
      The Zen Woods is the most comfy place on the Internet. While you're chilling here, you'll learn about being stress-free, or at least managing stress, being productive, time management, and most importantly, just making your life better in general.
    </div>
  </div>

</div>

<div class="center home-text padding-bottom-large">
  <div class="container">
    <span class="email_form"><%= render 'partials/emails/email_form' %></span>
  </div>
</div>

<div class="padding-vertical element-background">
  <div class="container">
    <div class="sub-title center">
      Let's make life better together.
    </div>
  </div>
</div>


<div class="white-background padding-vertical-large">
  <div class="container">
    <div class="flex">
      <div class="seventy center">

        <% @recent_posts.each do |post| %>
          <div class="sub-title padding-bottom">
            <%= link_to post.title, post_path(post), class: "home-post-link" %>
          </div>

          <div class="padding-bottom">
            Posted on <%= post.created_at.strftime("%m.%d.%Y") %> | <%= post.readtime %> minute read | <%= post.element %>
          </div>

          <img class="large-image" src="<%= post.image_bottom %>" width="100%" />

          <div class="padding-vertical">
            <%= post.tagline %>
          </div>

          <div class="padding-bottom-large">
            <%= link_to post_path(post) do %>
              <div class="more-button">
                Read more...
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="sub-title center">
          <%= link_to "View more posts...", posts_path %>
        </div>

      </div>
    </div>
  </div>

  <div class="container padding-top-large">
    <div class="flex">
      <div class="seventy center">

        <div class="sub-title padding-bottom">
          What else can you do to make life better?
        </div>

        <div class="padding-bottom">
          Even the simpliest, easiest things can help make your life the best. Enter your email below, and we will help you now and in the future! (pssst... it's free!)
        </div>

        <span class="email_form_post"><%= render 'partials/emails/email_form_post' %></span>

      </div>
    </div>
  </div>
</div>