<%= provide(:title, "Posts") %>

<div class="header-container">
  <nav class="nav padding-vertical-large center">
    <div class="site-title">
      <div class="padding-bottom">
        <svg width="125.000000pt" height="125.000000pt" viewBox="0 0 733.000000 733.000000" preserveAspectRatio="xMidYMid meet">

        <g transform="translate(0.000000,733.000000) scale(0.100000,-0.100000)" fill="#212121" stroke="none">
          <path d="M2133 6427 l-1563 -902 3 -1818 2 -1818 1567 -905 1568 -906 1567 906 1568 905 2 1818 3 1818 -1563 903 c-860 496 -1570 902 -1578 902 -8 0 -717 -406 -1576 -903z m2972 -315 l1380 -798 3 -1343 2 -1344 -567 841 c-313 463 -572 840 -578 838 -5 -1 -134 -179 -285 -394 -151 -215 -277 -392 -280 -392 -3 0 -255 371 -560 825 -305 453 -558 823 -562 822 -4 -1 -261 -362 -570 -803 -310 -440 -567 -802 -572 -803 -5 -2 -123 165 -261 370 -139 205 -256 374 -261 376 -5 2 -246 -333 -534 -744 l-525 -746 -3 1243 c-1 708 2 1248 7 1253 19 19 2757 1596 2771 1596 8 0 636 -359 1395 -797z m-466 -3041 c540 -799 981 -1457 979 -1462 -2 -5 -291 -176 -643 -379 -499 -288 -643 -367 -652 -357 -13 13 -1583 2338 -1586 2348 -2 5 331 482 866 1242 27 38 50 67 52 65 1 -2 445 -657 984 -1457z m-1639 -895 c556 -824 1008 -1502 1003 -1506 -4 -4 -72 -44 -150 -89 l-143 -82 -1390 803 -1391 803 3 39 c3 33 79 147 528 786 289 411 526 747 526 746 1 0 457 -675 1014 -1500z m2885 696 c294 -436 535 -796 535 -800 0 -7 -445 -268 -468 -274 -6 -2 -222 311 -482 695 l-471 698 168 239 c92 132 171 239 175 238 4 -2 248 -360 543 -796z"/>
        </g>

      </svg>
    </div>

    <a href="https://thezenwoods.com"><span class="bold">NINTH</span><span class="thin">VALLEY</span></a>
    </div>
  </nav>
</div>

<div class="white-background padding-bottom-large">
  <div class="container">
    <div class="flex">
      <div class="seventy center">

        <% @posts.each do |post| %>
          <div class="sub-title padding-bottom">
            <%= link_to post.title, post_path(post), class: "home-post-link" %>
          </div>

          <div class="padding-bottom">
            Posted on <%= post.created_at.strftime("%m.%d.%Y") %> | <%= post.readtime %> minute read | <%= post.element %>
          </div>

          <img class="large-image" src="<%= post.image_bottom %>" width="100%" />

          <div class="padding-vertical">
            <%= post.tagline %>
          </div>

          <div class="padding-bottom-large">
            <%= link_to post_path(post) do %>
              <div class="more-button">
                Read more...
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="sub-title padding-bottom">
          What can you do to help the planet?
        </div>

        <div class="padding-bottom">
          Even the simpliest, easiest things can help our planet. Enter your email below, and we will help you help the Earth now and in the future! (pssst... it's free!)
        </div>

        <span class="email_form_post"><%= render 'partials/emails/email_form_post' %></span>

      </div>
    </div>
  </div>
</div>